:root {
    --page-width: 8.26in;
    --margin-right: 0.25in;
    --margin-left: 0.25in;
    --content-width: calc(var(--page-width) - var(--margin-right) - var(--margin-left));
    --sidebar-width: 15rem;
    --main-width: calc(var(--content-width) - var(--sidebar-width));
    --sidebar-background-color: #f2f2f2;
  }
  
  @page {
    size: A4 portrait;
    margin: 0.5in 0.25in 0.5in 0.25in;
    background: linear-gradient(
      to left,
      var(--sidebar-background-color),
      var(--sidebar-background-color) calc(var(--margin-right) + var(--sidebar-width)),
      white calc(var(--margin-right) + var(--sidebar-width))
    );
  }
  
  body {
    width: var(--content-width);
    margin: 0 auto;
  }
  
  #main {
    width: var(--main-width);
    padding: 0 0.25in;
    float: left;
  }
  
  .aside {
    width: var(--sidebar-width);
    padding: 0.6in 0.2in;
    float: right;
    background-color: var(--sidebar-background-color);
  }